@tailwind base;
@tailwind components;
@tailwind utilities;
.table-fixed{
    width: 100%;
    overflow-x: auto;
}
.bg-gray-800 {
    background-color: #333333;
  }
  .text-white {
    color: #ffffff;
  }
  .bg-blue-600 {
    background-color: #4a90e2;
  }
  .hover\:bg-gray-700:hover {
    background-color: #4a4a4a;
  }

.email-visualizer {
  @apply flex flex-col h-screen max-h-screen
   
  }
  .navbar {
    @apply flex items-center justify-between bg-gray-800 text-white p-4
  }
  .logo {
    @apply text-white font-bold
  }
  .search-form {
    flex-grow: 1;
  }
  .search-input {
    @apply bg-[#444] text-white border border-gray-600 rounded-md px-2 py-1 w-full
  }
  .main-content {
    @apply bg-[#222] grid grid-cols-2 gap-4 flex-1 min-h-0
  
  }
  .table-container {
    @apply flex-1 border border-[#666] overflow-y-auto overflow-x-hidden
 
  }
  .body-display {
    @apply max-h-screen w-full overflow-auto bg-[#444] text-white border border-[#666] p-2
  }

.separator {
    margin-right: 20px; 
  }
  